* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #110202;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background-color: rgb(172, 179, 162);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#question {
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn {
  background-color: #1cca44;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 20px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}

.hidden {
  display: none;
}
